@import '../../src/build/css/blue.css';
.storybook-button {
  font-family: var(--set-1-title-font-family);
  font-weight: var(--set-1-title-font-weight);
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: var(--pure-white);
  background-color: var(--primary-mosaic-1);
}
.storybook-button--secondary {
  color: var(--primary-mosaic-1);
  background-color: transparent;
  border-color: var(--primary-mosaic-1);
  border: 2px solid;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset; */
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
  width: 100%;
  margin-left: 0px;
  margin-top: 10px;
}
