@import '../../src/build/css/blue.css';
.wrapper {
  font-family: var(--font-families-inter);
  background-color: var(--primary-mosaic-1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

svg {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

button + button {
  margin-left: 10px;
}

.welcome {
  color: #333;
  font-size: 14px;
  margin-right: 10px;
}
