@import './build/css/blue.css';
.header {
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--black-op-black-op3);
}

.subheading {
  width: 100%;
  font-size: 32px;
  padding-top: 5px;
  padding-bottom: 15px;
  color: var(--black-op-black-op3);
}

.link-item {
  width:  17%;
  height: 200px;
  float: left;
  display: block;
  padding: 20px;
  border: 2px solid;
  border-color: var(--drop-1-0-color);
  border-radius: 10px;
  transition: background 150ms ease-out, border 150ms ease-out, transform 150ms ease-out;
  color: var(--pure-black);
}

.link-item:hover {
  border-color: var(--primary-mosaic-1);
  transform: translate3d(0, -3px, 0);
  box-shadow: rgba(0, 0, 0, 0.08) 0 3px 10px 0;
}

.link-item1 {
  width:  27%;
  height: 200px;
  margin-left: 20px;
  float: left;
  display: block;
  padding: 20px;
  border: 2px solid;
  border-color: var(--drop-1-0-color);
  border-radius: 10px;
  transition: background 150ms ease-out, border 150ms ease-out, transform 150ms ease-out;
  color: var(--pure-black);
}

.link-item1:hover {
  border-color: var(--primary-mosaic-1);
  transform: translate3d(0, -3px, 0);
  box-shadow: rgba(0, 0, 0, 0.08) 0 3px 10px 0;
}

.link-item2 {
  width:  40%;
  height: 200px;
  margin-left: 20px;
  float: left;
  display: block;
  padding: 20px;
  border: 2px solid;
  border-color: var(--drop-1-0-color);
  border-radius: 10px;
  transition: background 150ms ease-out, border 150ms ease-out, transform 150ms ease-out;
  color: var(--pure-black);
}

.link-item2:hover {
  border-color: var(--primary-mosaic-1);
  transform: translate3d(0, -3px, 0);
  box-shadow: rgba(0, 0, 0, 0.08) 0 3px 10px 0;
}

.link-item:active {
  border-color: #1EA7FD;
  transform: translate3d(0, 0, 0);
}

.link-item strong {
  font-weight: 700;
  display: block;
  margin-bottom: 2px;
}

.link-item img {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  flex: none;
}

.link-item span,

.link-item h4 {
  margin: 0;
  font-size: 14px;
}
.link-item p {
  margin: 0;
  display: inline-block;
  font-size: 13px;
}

.link-item1 .rowHead {
  text-align: right;
  font-weight: bold;
}
.link-item1 td {
  margin: 0;
  padding-left: 10px;
  font-size: 13px;
}

.link-item2 h4 {
  margin: 0;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
}
.link-item2 .checkBoxContent {
  width: 100%;
  display: flex;
  font-size: 13px;
  padding: 5px;
}

.tip {
  display: inline-block;
  border-radius: 1em;
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  background: #E7FDD8;
  color: #66BF3C;
  padding: 4px 12px;
  margin-right: 10px;
  vertical-align: top;
}

.tip-wrapper {
  font-size: 13px;
  line-height: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.tip-wrapper code {
  font-size: 12px;
  display: inline-block;
}